---
import AdSense from '@components/AdSense.astro';
import { menuLinks, siteConfig } from '@site-config';

const year = new Date().getFullYear();
---

<footer class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pb-4 pt-20 text-center font-semibold text-gray-600 dark:text-gray-400 sm:text-xs">
  <div>
    <AdSense slot="6718766952" format="fluid" layout="in-article" />
  </div>
  <div class="mb-4 text-center">
    Any links to Amazon on this site are affiliate links. Using them costs you nothing, and I will earn a small commission on anything you buy if you use them. Thanks for your support!
    <div class="mt-4">Copyright &copy; {year} by {siteConfig.author} All Rights Reserved</div>
  </div>
  <nav aria-label="More on this site" class="flex justify-center gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-gray-500">
    {
      menuLinks.map((link) => (
        <a class="px-4 py-2 sm:py-0 sm:hover:text-textColor sm:hover:underline" href={link.path}>
          {link.title}
        </a>
      ))
    }
  </nav>
</footer>
