---
import PageLayout from '@/layouts/Base.astro';

const meta = {
  description: 'Oops! It looks like this page is lost in space!',
  title: 'Hey! You found a missing page!',
};
---

<PageLayout meta={meta}>
  <section class="prose prose-cactus">
    <h1 class="title mb-6">404 | {meta.title}</h1>
    <p>{meta.description}</p>
    <p class="mb-8">Please use the navigation to find your way back</p>
  </section>
</PageLayout>
