---
import SocialList from '@components/SocialList.astro';
import PageLayout from '@layouts/Base.astro';
---

<PageLayout meta={{ title: 'Home' }}>
  <section class="prose prose-cactus mb-4">
    <h1 class="title mb-6">Greetings Fellow Earthling!</h1>
    <p>Hi, I’m Nick Hodges. I'm glad you stopped by. I am here to share what little wisdom I have acquired over the years.</p>
  </section>
  <section class="prose prose-cactus mt-4">
    <p>
      I have written <a href="https://www.codingindelphi.com">three programming books on Delphi</a>.
    </p>
    <p>
      My mighty mom <a href="https://thatmadgame.com">wrote a novel</a> and I published it before she passed. You can read about it <a href="https://www.thatmadgame.com/about">here on the book's website</a>.
    </p>
    <p>
      I write a totally free newsletter containing things that pop into my brain. <a href="https://thingsthatoccurtome.com/">I'd love for you to subscribe</a>.
    </p>
    <p>
      <a href="https://www.infoworld.com/author/Nick-Hodges/">I write regularly for Infoworld</a>
    </p>
    <p>I also write stuff on <a href="https://nickhodges.medium.com/">Medium</a></p>
  </section>
  <div class="prose prose-cactus mb-4 mt-4">Other than here on this site, you can find me in these places:</div>
  <SocialList />
</PageLayout>
