---
import PageLayout from '@layouts/Base.astro';
import NYTColors from '@components/NYTColors.astro';
---

<PageLayout meta={{ title: 'New York Times Games Color Pallete' }}>
  <article class="prose prose-cactus mt-12 max-w-3xl">
    <h2>The New York Times Games Color Palette</h2>
    <NYTColors />
  </article>
</PageLayout>
