---
import '../styles/goodreads.css';
---

<div>
  <script src="https://www.goodreads.com/review/grid_widget/7711925.Nick's%20Recently%20Read?cover_size=small&hide_link=&hide_title=&num_books=16&order=d&shelf=read&sort=date_added&widget_id=1717356178" type="text/javascript" charset="utf-8"></script>
</div>
